# ===================================================
# Proyecto ML - Seguros para Mascotas
# Dependencias del entorno de desarrollo
#
# Instalar mediante:
# pip install -r requirements.txt
# ===================================================

numpy
pandas
matplotlib
seaborn
scikit-learn
jupyter
ipykernel